<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP3 - Transformation DevOps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<h1 class="companyName"></h1>
<p><span class="companyName"></span> est une entreprise développement logicielle spécialisé dans la télésurveillance médicale</p>

<h2>Ressources</h2>
<p>Voici les ressources de l'entreprises :</p>
<h3>Ressources humaines</h3>
<ul id="humanResources">
</ul>
<h3>Ressources matérieles</h3>
<ul id="materialResources">
</ul>
<h3>Ressource logiciel</h3>
<ul id="softwareResources">
</ul>

<h2>Données</h2>
<p>Voici les données de l'entreprises :</p>
<ul>
</ul>

<h2>Processus</h2>
<p>Voici les processus de l'entreprises :</p>
<ul>
</ul>

</body>
</html>