<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP4.1 - Transformation DevOps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
<h1 class="companyName"></h1>
<p><span class="companyName"></span> est une entreprise développement logicielle spécialisé dans la télésurveillance
    médicale</p>

<h2>Ressources</h2>
<h3>Ressources humaines</h3>
<ul id="humanResources">
</ul>
<h3>Ressources matérieles</h3>
<ul id="materialResources">
</ul>
<h3>Ressource logiciel</h3>
<ul id="softwareResources">
</ul>

<h2>Données</h2>
<ul id="dataList">
</ul>

<h2>Processus</h2>
<ul id="processList">
</ul>

<div>
    <p>App version : 2.1.2</p>
</div>

</body>
</html>